<?xml version="1.0" encoding="utf-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	defaultTestSuite="unit"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">./tests/Unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix=".php">./tests/integration</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory>includes</directory>
			<file>./class-wc-facebookcommerce.php</file>
			<file>./facebook-commerce-events-tracker.php</file>
			<file>./facebook-commerce-pixel-event.php</file>
			<file>./facebook-commerce.php</file>
			<file>./facebook-config-warmer.php</file>
			<file>./facebook-for-woocommerce.php</file>
		</include>
	</coverage>
</phpunit>
